.navLink {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #0d50ff;
}

.icons {
  width: 40px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.icons:hover {
  transform: scale(1.1);
}
