ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 32px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  cursor: pointer;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  margin: 41px 40px 39px;
}
.icons {
  width: 44px;
  height: 48px;
}
