.sales {
  margin-top: 40px;
}

.cards {
  gap: 32px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .cards {
    display: flex;
    justify-content: center;
  }
}
