.coupleSection {
  padding: 16px;
  position: relative;
}
.categoriesRenderImage {
  border-radius: 12px;
  width: 316px;
  height: 350px;
}

.categoriesDesc {
  display: flex;
  justify-content: center;
  font: 500 20px / 1.3;
  text-align: center;
  color: #282828;
  height: 50px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}
.coupleAddit {
  font: 500 16px / 1.26;
  text-align: center;
  color: #8b8b8b;
}
.coupleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 16px;
  width: 142px;
  height: 36px;
  background: transparent;
  cursor: pointer;
}
.coupleButton:hover {
  background: #f1f3f4;
}
.coupleTitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  font-family: sans-serif;

  color: #282828;
}

.coupleLine {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin-left: 2%;
}

.coupleContainer {
  display: flex;
  align-items: center;
}

.coupleHeader {
  text-align: center;
  margin-bottom: 20px;
}
.coupleButtonContainer {
  margin-top: 10px;
}

.coupleSliderWrapper svg {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.coupleSliderWrapper svg:first-child {
  left: 0;
}

.coupleSliderWrapper svg:last-child {
  right: 0;
}
.coupleSliderWrapper {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupleRenderList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  gap: 32px;
  animation: slideIn 0.5s ease-in-out;
}

.categoriesRenderItem {
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
