.productSection {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productSection > img {
  width: 548px;
  height: 572px;
  object-fit: contain;
  border-radius: 12px;
}

.productSection > div {
  max-width: 548px;
  margin-left: 32px;
}

.productSection > div > h3 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}

.productSection > div > * {
  margin-top: 32px;
}

.productSection > div > .countAndButton {
  display: flex;
  justify-content: space-between;
}

.productSection > div > h4 {
  font-size: 20px;
  font-weight: 600;
}

.productSection > div > .description > p {
  font-size: 16px;
  font-weight: 400;
  color: #282828;
}

.productSection > div > .description > a {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}

.productSection > div > .description > a:hover {
  cursor: pointer;
}
.discountPriceCont {
  position: relative;
}
.discountBorder {
  position: absolute;
  width: 67px;
  text-align: center;
  border-radius: 6px;
  transform: translate(220%, -110%);
  background-color: #0d50ff;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 8px;
}
.secondaryPrice {
  font-size: 20px;
  color: #8b8b8b;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 16px;
}
.productsContent {
  width: 316px;
}

.cartPageItemInfoLeftBtnCounter {
  color: #282828;
  display: flex;
}

.cartPageItemInfoLeftBtnCounter button {
  width: clamp(28px, 5.5vw, 58px);
  height: clamp(28px, 5.5vw, 58px);
  border-radius: 6px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #8b8b8b;
  font-size: 25px;
}

.primaryPrice {
  font: 600 40px / 1.1 "Montserrat", sans-serif;
  color: #282828;
}
.cartPageItemInfoLeftBtnCounter input {
  width: clamp(46px, 9.2vw, 96px);
  height: clamp(28px, 5.5vw, 58px);
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

@media (max-width: 1200px) {
  .productSection {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .productSection > img {
    width: 100%;
  }

  .productSection > div {
    margin-left: 0px;
  }

  .productSection > div > h3 {
    margin-top: 16px;
  }

  .productSection > div > .countAndButton {
    flex-direction: column;
    align-items: center;
  }

  .productSection > div > .countAndButton > button {
    margin-top: 12px;
  }
}
