section.product {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.product > img {
  border-radius: var(--big-radius);
}

section.product > div {
  max-width: 548px;
  margin-left: 32px;
}

section.product > div > h3 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  margin-top: -32px;
}

section.product > div > * {
  margin-top: 32px;
}

section.product > div > .countAndButton {
  display: flex;
  justify-content: space-between;
}

section.product > div > h4 {
  font-size: 20px;
  font-weight: 600;
}

section.product > div > .description > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

section.product > div > .description > a {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

section.product > div > .description > a:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  section.product {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  section.product > img {
    width: 100%;
  }

  section.product > div {
    margin-left: 0px;
  }

  section.product > div > h3 {
    margin-top: 16px;
  }

  section.product > div > .countAndButton {
    flex-direction: column;
    align-items: center;
  }

  section.product > div > .countAndButton > button {
    margin-top: 12px;
  }
}
