.navigationRow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 250px;
}

.navigationRow > hr {
  color: #dddddd;
  height: 0px;
  width: 16px;
}

@media (max-width: 1100px) {
  .navigationRow {
    display: none;
  }
}
