.filters {
  display: block;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.filters > label {
  font-weight: 600;
  color: #282828;
  font-size: 20px;
  margin-left: 40px;
}

.filters > label:first-child {
  margin-left: 0px;
}

.filters > input,
.filters > select {
  margin-left: 16px;
}

.filters > input[type="text"] {
  border-radius: 6px;
  border: 1px solid #dddddd;
  padding: 8px 16px;
  width: 112px;
}

.filters > select {
  width: 200px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  background: transparent;
  border: 1px solid #282828;
  border-radius: 6px;
}

@media (max-width: 1100px) {
  .filters {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: start;
  }

  .filters > label {
    margin-left: 0px;
  }

  .filters > input,
  .filters > select {
    margin-left: 0px;
    width: 100%;
    margin-top: 8px;
  }

  .filters > input[type="text"] {
    width: calc(100% - 8px);
    padding: 8px;
  }
}
